@charset "UTF-8";
.titulo-hans {
  font-size: xxx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.titulo-danny {
  font-size: xxx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.titulo-john {
  font-size: xxx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.titulo-alan {
  font-size: xxx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.h2-hans {
  font-size: xxx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.text-hans, .text-alan {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-larger;
  text-align: center;
  margin: 50px;
}

.h2-hans {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 6px whitesmoke;
  text-align: center;
}

.navbar-alan, .navbar-danny, .navbar-james, .color-white {
  font-size: x-large;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 200px;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6E6E72;
  padding: 0px;
}

.text-white {
  color: whitesmoke;
  font-size: x-large;
  padding-left: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  padding: 30px;
  text-shadow: 2px 2px 6px #050100;
}

/* modifica el navbar de la pagina principal*/ /* aplicarle mq*/
.padding-200px {
  padding: 20px;
  gap: 70%;
}

/* afecta las imagenes de la pagina principal*/
.w-100 {
  width: 2048px;
  height: 800px;
  text-align: center;
}

main {
  background-color: #BCBBBF;
  /* se está aplicando a la pagina principal*/
  gap: 30px;
  padding: 10px;
  /* arrelgo de imagenes de alan silvestri*/
}
main div p {
  /*afecta al texto de la pagina principal*/
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  text-shadow: 2px 2px 6px #050100;
}
main div img {
  display: flex;
}
main div img .carousel-item {
  padding: 0%;
}
main .section-alan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100%);
}
main .section-alan .foto-alan-1 {
  height: 635px;
}

/* grid en la pagina de john williams*/
.grid-john {
  display: grid;
  background-color: #6E6E72;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
}

.img-john, .jurassic-park, .indiana-jones, .star-wars, .img-james, .img-avatar, .img-titanic {
  gap: 50px;
  padding: 5px;
  background-color: #BCBBBF;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

section {
  background-color: #BCBBBF;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 8px 0px;
  padding: 20px;
}

/* arreglos de hans zimmer*/
/*afecta la barra de navegacióbn de hans zimmer y john williams*/
.color-white {
  color: whitesmoke;
  font-size: x-large;
}

main section {
  display: block;
}

.img-hans, .img-danny {
  width: 100%;
  height: 100%;
}

.titulo-hans, .titulo-james {
  color: black;
}

.text-hans {
  padding: 30px;
  margin: 10px;
  text-decoration: wavy;
  background-color: black;
  text-align: center;
}

/* arreglo de Danny Elfman */
/* arreglos de john williams */
/*planeo hacer un mq con las imagenes de la pagina de john williams como en la clase cuatro*/
@media screen and (min-width: 600px) {
  .bg-black {
    display: flex;
    padding-bottom: 30px;
  }
  .button .navbar-togler {
    padding: 11px;
  }
}
/* ALAN SILVESTRI*/
.section-alan {
  background-color: #1E1E1E;
}

.titulo-alan {
  color: beige;
}

.foto-alan {
  align-items: center;
  display: grid;
  width: 100%;
  height: 100%;
}

.body-alan {
  background-color: #1E1E1E;
}

.text-alan {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  text-align: center;
  margin: 50px;
}

footer {
  text-align: center;
  margin: 0px;
  padding: 20px;
  text-transform: capitalize;
  text-decoration: solid;
  font-size: x-large;
  color: #BCBBBF;
  background-color: black;
  font-weight: 1200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* arreglos de media query para todas las paginas*/

/*# sourceMappingURL=main.css.map */
