@mixin titulo{
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 6px black;
    text-align: center;
}



.titulo-hans{
    @include titulo;
}

.titulo-danny{
    @include titulo;
}

.titulo-john{
    @include titulo;
}

.titulo-alan{
    @include titulo;
}
.h2-hans{
    @include titulo;
}